@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body, html{
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    height: 100%;
}
.container{
    background: linear-gradient(135deg, #8a2be2, #4169e1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.content{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
}
.logo{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
h1{
    color: #333;
    margin-bottom: 20px;
}
p{
    color: #666;
    margin-bottom: 20px;
}
#notify-form{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}
input[type="email"]{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 17px;
}
button{
    padding: 10px;
    background-color: #8a2be2;
    border: none;
    border-radius: 6px;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
    /* transition:kun-property kati-time effect ; */ 
}
button:hover{
    cursor: pointer;
    background-color: #330b59;
}
    